* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
}

/* Navbar */
nav {
	display: flex;
	background-color: rgb(11, 125, 255);
	color: rgb(213, 233, 255);
	justify-content: space-around;
	/* padding: 20px 0; */
	height: 50px;
	align-items: center;
}

nav .logo {
	font-size: 22px;
	font-family: "Dancing Script", cursive;
	letter-spacing: 1.5px;
}

nav ul {
	display: flex;
	list-style: none;
	width: 40%;
	justify-content: space-between;
}

nav ul li a {
	color: rgb(213, 233, 255);
	text-decoration: none;
	font-size: 0.85em;
}

nav ul li a:hover {
	color: white;
}

.menu-toggle input {
	opacity: 0;
}
/* Hamburger */
/* .menu-toggle {
	display: flex;
	flex-direction: column;
	height: 20px;
	justify-content: space-between;
	position: relative;
}

.menu-toggle input {
	position: absolute;
	width: 40px;
	height: 28px;
	margin-left: -6px;
	margin-top: -1px;
	opacity: 0;
	cursor: pointer;
}

.menu-toggle span {
	display: block;
	width: 28px;
	height: 3px;
	background-color: rgb(213, 233, 255);
	border-radius: 3px;
} */

/* Responsive Breakpoints */

/* Tablet */
@media screen and (max-width: 768px) {
	nav ul {
		width: 50%;
	}
}

/* Phone */
@media screen and (max-width: 576px) {
	nav ul {
		display: none;
	}

	.menu-toggle {
		display: flex;
		flex-direction: column;
		height: 20px;
		justify-content: space-between;
		position: relative;
	}

	.menu-toggle input {
		position: absolute;
		width: 40px;
		height: 28px;
		margin-left: -6px;
		margin-top: -1px;
		opacity: 0;
		cursor: pointer;
		z-index: 3;
	}

	.menu-toggle span {
		display: block;
		width: 28px;
		height: 3px;
		background-color: rgb(213, 233, 255);
		border-radius: 3px;
		transition: 0.5s;
	}

	/* Hamburger menu animation */

	.menu-toggle span:nth-child(2) {
		transform-origin: 0 0;
	}

	.menu-toggle span:nth-child(4) {
		transform-origin: 0% 100%;
	}

	.menu-toggle input:checked ~ span:nth-child(2) {
		transform: rotate(45deg) translate(-1px, 0);
		background-color: black;
	}

	.menu-toggle input:checked ~ span:nth-child(4) {
		transform: rotate(-45deg);
		background-color: black;
	}

	.menu-toggle input:checked ~ span:nth-child(3) {
		transform: scale(0);
	}
} ;
